<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head th:fragment="meta(title)">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124258512-2"></script>
	<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-124258512-2');</script>
	<link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="/css/global.css" th:href="@{/css/global.css}">
	<link rel="shortcut icon" href="/favicon.png" th:href="@{/favicon.png}" type="image/png">
	<title th:replace="${title}">Binary Table</title>
	<meta name="description" content="Binary Table - minimalistic progress tracker & counter">
    <meta name="keywords" content="minimalistic, progress, tracker, counter, binary, table, минималистичный, прогресс, трекер, бинарная, таблица, счетчик">
	<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>