<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<body>
<th:block th:fragment="usernavbar">
<nav class="navbar navbar-expand-md">
    <a class="navbar-brand link-white logo" th:href="@{/goals}">BiT</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown mr-5">
            <a class="nav-item dropdown-toggle link-white" href="#" data-toggle="dropdown">Lang</a>
            <ul class="dropdown-menu" style="background:#b172c5">
                <li><a class="nav-item nav-link link-white" href="?lang=en">English</a></li>
                <li><a class="nav-item nav-link link-white" href="?lang=ru">Russian</a></li>
            </ul>
        </li>
        <li><b class="nav-item" th:text="#{goal.greeting}"/>,&nbsp;<a class="button button-dark mr-5" th:href="@{/profile}" th:text="${user.name}"></a></li>
        <li><a class="nav-item button button-white" th:href="@{/addgoal}" th:text="#{goal.addGoal}"></a></li>
        </ul>
         <ul class="navbar-nav ml-auto">
        <li>
            <form th:action="@{/logout}" method="post">
                <input class="nav-item button button-dark ml-5" type="submit" th:value="#{meta.logout}">
            </form>
        </li>
    </ul>
</nav>
</th:block>
</body>
</html>