body
{
    background: #b172c5;
    color: #fff;
    font-family: 'Courier New', monospace;
}

a, a:hover
{
    text-decoration: none;
}

table
{
	table-layout: fixed;
}


.link-white
{
    color: #fff;
}

.link-white:hover
{
    color: #f0acb2;
}

.link-semidark
{
    color: #f0acb2;
}

.link-dark
{
    color: #b172c5;
}

.link-dark:hover, .link-semidark:hover
{
    color: #42006e;
}

.button
{
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 18px;
    text-align: center;
}

.button-dark
{
    border: 2px #fff solid;
    color: #fff;
    background: #b172c5;
}

.button-dark:hover
{
    color: #f0acb2;
    text-decoration: none;
}

.button-white
{
    border: 2px #fff solid;
    color: #b172c5;
    background: #fff;
}

.button-white-dark-border
{
    border: 2px #b172c5 solid;
    color: #b172c5;
    background: #fff;
}

.button-white:hover, .button-white-dark-border:hover
{
    color: #42006e;
    text-decoration: none;
}

.form
{
    background: #fff;
    color: #b172c5;
    width: 60%;
}

.form-footer
{
    width: 50%;
}

.logo
{
    font-size: 50px;
    font-weight: 700;
}

.index-promo
{
    font-size: 40px;
}

/*
For sticky footer
 */

.sticky-footer-body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.sticky-footer-section
{
    flex: 1;
    margin: 0;
}

/*
End of sticky footer style
 */

table
{
    border: 4px #fff solid;
}

th
{
    font-size: 24px;
    padding: 8px 8px;
    border: 4px #fff solid;
}

td
{
    font-size: 18px;
    padding: 8px 8px;
    4px #fff solid;
}

.button-collapse
{
    border: 2px #fff solid;
}

/*
Atomic styles
*/

.fr
{
	float: right;
}

.fl
{
	float: left;
}

.w15
{
	width: 15%;
}

.w20
{
    width: 20%;
}

.w35
{
	width: 35%;
}

.w40
{
    width: 40%;
}

.w50
{
	width: 50%;
}

.w65
{
	width: 65%;
}

.w80
{
    width: 80%;
}

.w85
{
	width: 85%;
}

.w100
{
	width: 100%;
}
