body {
	background:#B172C5;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	font-family: 'Share Tech Mono', monospace;
	color: #FFFFFF;
}

table {
	border: none;
	margin-top: 2%;
	min-width: 600px;
	min-height: 125px;
	text-align: center;
}

td {
	width: 90px;
	height: 60px;
	font-size: 48px;
}

td:hover {
	transition: background 0.5s;
	background: #A656CD;
}

.saveState {
	vertical-align: middle;
}

.mytitle {
	width: auto;
	font-size: 30px;
	align: center;
	border-width: 4px;
}

.mytitle:hover {
	background: #B172C5;
}

.ui-borders {
	color: #fff;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 4px;
	background-color: Transparent;
}

.ui-noborders {
	border: none;
	background-color: Transparent;
}

.screenShotter {
	font-family: 'Share Tech Mono', monospace;
	color: #fff;
	font-size: 18px;
}

.arrowBack {
	vertical-align: middle;
	position: relative;
	font-size: 50px;
	font-weight: 900;
	font-family: 'Share Tech Mono', monospace;
	color: #FFFFFF;
}

.deleteGoal {
	vertical-align: middle;
}

@font-face {												/* А вообще наш стандартный шрифт СЛИШКОМ похож на этот. Они одинаковые? */
	font-family: consola;							
	src: url(../resources/consola.ttf) ; /* Добавить первую черточку в рабочем проекте! */
}

#note {
	display: none;
	font-family: consola;
	background-color: #ad33ff;
	border-style: solid;
	border-width: 1px;
	border-color: #6666ff;
	min-height: 22px;
}

#deleteConfirmation {

}

.screenShotter {

}

.additional {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

#endGoal {
	visibility: hidden;
	font-style: italic;
}

/* UI-Widget setup */

.confNumber {
	background-color: Transparent;
	border: none;
	outline: none;
	font-family: 'Share Tech Mono', monospace;
	color: #FFFFFF;
}

.confNumberText {
	font-size: 45px;
}

.ui-widget-content {

}

.deleteWidget {
	background:#B172C5;
	border-color: #FFFFFF !important;
	border-style: solid !important;
	border-width: 4px !important;
}

/* ends here */