html {
	font-family: sans-serif;
}

body {
	background:#9370DB;
	margin: 100px;
	font-family: 'Share Tech Mono', monospace;
	color: #FFFFFF;
}

table {
	min-width: 600px;
	min-height: 125px;
	text-align: center;
}

td {
	width: 90px;
	height: 60px;
	font-size: 48px;
}

td:hover {
	transition: background 0.5s;
	background: #8360CB;
}

.saveState {
	visibility: hidden;
	vertical-align: middle;
}

.mytitle {
	width: auto;
	font-size: 30px;
}

.mytitle:hover {
	background: #9370DB;
}

.confNumber {
	background-color: Transparent;
	border: none;
	outline: none;
}

.confNumberText {
	font-size: 30px;
}

.arrowBack {
	vertical-align: middle;
	position: relative;
	font-size: 45px;
	font-weight: 900;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 2px;
	background-color: Transparent;
	font-family: 'Share Tech Mono', monospace;
	color: #FFFFFF;
}

.deleteGoal {
	vertical-align: middle;
}

@font-face {												/* А вообще наш стандартный шрифт СЛИШКОМ похож на этот. Они одинаковые? */
	font-family: consola;							
	src: url(../resources/consola.ttf) ; /* Добавить первую черточку в рабочем проекте! */
}

#note {
	display: none;
	font-family: consola;
	background-color: #ad33ff;
	border-style: solid;
	border-width: 1px;
	border-color: #6666ff;
}

#additional {
	display: flex;
	justify-content: center;
}

/*body{
	background:#9370DB;
	font-family: 'Share Tech Mono', monospace;
	color: #FFFFFF;
	font-size: 20px;/*
		
} 
/*.taskName{
	border: 1px solid white;
	margin-left: 10%;
	margin-right:10%;
	margin-top: 3%;
} */

.tabel1 {
	font-size: 60px;
}