/*
Remove border and padding
*/

*
{
  outline: 0 !important;
}

::-moz-focus-outer, ::-moz-focus-inner
{
    border: 0;
    padding: 0;
}

/*
End of removal magic
*/

body {
	background:#B172C5;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	font-family: 'Jura', sans-serif;
	font-weight: 600;
	color: #FFFFFF;
}

table {
	border: none;
	margin-top: 2%;
	min-width: 600px;
	min-height: 125px;
	text-align: center;
}

td {
	width: 90px;
	height: 60px;
	font-size: 48px;
}

.saveState {
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.mytitle {
	width: auto;
	font-size: 30px;
	border-width: 4px;
}

.ui-borders {
	color: #fff;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 4px;
	background-color: Transparent;
}

.ui-noborders {
	border: none;
	background-color: Transparent;
}

.screenShotter {
	color: #fff;
	font-size: 18px;
}

.arrowBack {
	font-size: 50px;
	font-weight: 900;
	font-family: 'Jura', sans-serif;
	color: #FFFFFF;
}

#back-btn
{
    display: inline-block;
    width: 50%;
    float: left;
}

#delete-btn
{
    display: inline-block;
    width: 50%;
    float: right;
}

.deleteGoal {
	vertical-align: middle;
	float: right;
}

#note {
	display: none;
	background-color: #ad33ff;
	border-style: solid;
	border-width: 1px;
	border-color: #6666ff;
	min-height: 22px;
}

#deleteConfirmation {

}

.additional {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

#endGoal {
	visibility: hidden;
	font-style: italic;
}

/* Collapse CSS */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 40%;
  font-size: 18px;
  font-family: 'Jura', sans-serif;
  font-weight: 600;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #A858CF;
}

/* Style the collapsible content. Note: hidden by default */
.contentCollapse {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
  padding: 0 18px;
  text-align: center;
  background-color: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* UI-Widget setup */

.confNumber {
	background-color: Transparent;
	border: none;
	outline: none;
}

.confNumberText {
	font-size: 45px;
	font-family: 'Jura', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}

.ui-widget-content {

}

.deleteWidget {
	background:#B172C5;
	border-color: #FFFFFF !important;
	border-style: solid !important;
	border-width: 4px !important;
	font-family: 'Jura', sans-serif;
    font-weight: 600;
    color: #FFFFFF;

}

.navbar-icon
{
    height: 16vh;
}

/* ends here */