<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>BiT | {{#i18n}}meta.about{{/i18n}}</title>
</head>
<body class="sticky-footer-body">
{{> scripts}}
{{> navbar}}
<section class="container sticky-footer-section pl-3">
    <h2>What is Binary Table?</h2>
    It is minimalistic progress tracker.
    <h2>Is it free?</h2>
    Of course.
    <h2>Authors</h2>
    Pie team
</section>
{{> footer}}
</body>
</html>