<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>BiT | {{#i18n}}about{{/i18n}}</title>
</head>
<body>
    {{> navbar}}
<section>
    <h1>What is Binary Table?</h1>
    It is minimalistic progress tracker.
    <h1>Is it free?</h1>
    Of course.
    <h1>Authors</h1>
    Pie team
</section>
    {{> footer}}
</body>
</html>