<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head th:replace="fragments/meta :: meta(~{::title})">
    <title th:text="#{goal.addGoal}"></title>
</head>
<body class="sticky-footer-body">
<section class="sticky-footer-section">
<div th:if="${error}">
    <span th:text="#{${error}}"/>
</div>
<div class="mx-auto border my-5 py-3 px-3 form">
    <form th:action="@{/addgoal}" method="post" accept-charset="utf-8">
        <div class="form-group">
            <label for="goalName" th:text="#{fields.goal}"></label>
            <input class="form-control" id="goalName" type="text" name="goal" th:placeholder="#{placeholder.goal}">
        </div>
        <div class="form-group">
            <label for="steps" th:text="#{fields.countOfSteps}"></label>
            <input class="form-control" id="steps" type="text" name="steps" th:placeholder="#{placeholder.steps}">
        </div>
        <div class="form-group">
            <label for="note" th:text="#{fields.note}"></label>
            <textarea class="form-control" id="note" name="note" th:placeholder="#{placeholder.note}"></textarea>
        </div>
        <a class="button button-white my-4" style="border: 2px #ad33ff solid;" data-toggle="collapse" href="#groupGoal" role="button" aria-expanded="false" aria-controls="groupGoal" th:text="#{goal.groupGoal}"></a>
        <div class="collapse" id="groupGoal" style="width: 100%">
            <div th:if="${error}">
                <span th:text="#{${error}}"/>
            </div>
            <div class="form-group mt-3">
                <label for="emails" th:text="#{goal.writeCollaborators}"></label>
                <textarea class="form-control" id="emails" name="emails" th:placeholder="#{placeholder.collaborators}"></textarea>
            </div>
        </div>
        <div class="my-5">
            <input class="button button-dark" type="submit" th:value="#{goal.addGoal}">
            <a class="button button-white" style="margin-left: 50%; border: 2px #ad33ff solid" href="@{/goals}" th:text="#{meta.back}"></a>
        </div>
    </form>
</div>
</section>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>