<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>{{#i18n}}meta.contact{{/i18n}}</title>
</head>
<body>
    {{> navbar}}
<section>
    <p>Pie team: Alexflames, Dzeru</p>

    <p>Mail us: somemail@gmail.com</p>

    <p><a href="https://vk.com">VK</a></p>
    <p><a href="https://facebook.com">Facebook</a></p>
    <p><a href="https://github.com/Alexflames/piebinarytable">Github</a></p>
</section>
    {{> footer}}
</body>
</html>