<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>{{#i18n}}meta.contacts{{/i18n}}</title>
</head>
<body class="sticky-footer-body">
{{> scripts}}
{{> navbar}}
<section class="container sticky-footer-section">
    <p>Pie team: Alexflames, Dzeru</p>
	
    <p>Mail us: <a href="mailto:binary.tbl@gmail.com" target="_blank">binary.tbl@gmail.com</a></p>

    <p><a href="https://vk.com" target="_blank">VK</a></p>
    <p><a href="https://facebook.com" target="_blank">Facebook</a></p>
	
	<p><a href="https://github.com/Alexflames/piebinarytable" target="_blank">Github</a> (Alexflames)</p>
	<p><a href="https://bitbucket.org/Dzeru/binary-table/src/master" target="_blank">Bitbucket</a> (Dzeru)</p>
</section>
    {{> footer}}
</body>
</html>