<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head th:replace="fragments/meta :: meta(~{::title})">
<title th:text="#{meta.contacts}"/></title>
</head>
<body class="sticky-footer-body">
<th:block th:replace="fragments/navbar :: navbar"/>
<section class="sticky-footer-section" align="center">
    <p>Pie team: Alexflames, Dzeru</p>
	
    <p><a class="link-semidark" href="mailto:binary.tbl@gmail.com" target="_blank">binary.tbl@gmail.com</a></p>

    <p><a class="link-semidark" href="https://vk.com/binarytable" target="_blank">VK</a></p>
	
	<p><a class="link-semidark" href="https://github.com/Dzeru/binary-table" target="_blank">Github (Dzeru)</a></p>
	<p><a class="link-semidark" href="https://bitbucket.org/Dzeru/binary-table/src/master" target="_blank">Bitbucket (Dzeru)</a></p>
	<p><a class="link-semidark" href="https://github.com/Alexflames/piebinarytable" target="_blank">Github (Alexflames)</a></p>

	<p>Icons: <a class="link-semidark" href="https://www.flaticon.com">flaticon.com</a></p>

	<p>Binary Table &beta;eta</p>
</section>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>