<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>BiT | Error</title>
</head>
<body class="bg-dark text-white sticky-footer-body">
{{> scripts}}
{{> navbar}}
<section class="bg-dark text-white sticky-footer-section">
    <h1>EROOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOR</h1>
</section>
{{> footer}}
</body>
</html>