<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>BiT | Error</title>
</head>
<body>
{{> scripts}}
{{> navbar}}
<div>
    <h1>EROOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOR</h1>
</div>
</body>
</html>