<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head th:replace="fragments/meta :: meta(~{::title})">
	<title th:text="#{meta.feedback}"></title>
</head>
<body class="sticky-footer-body">
<th:block th:replace="fragments/navbarcompact :: navbarcompact"/>
<section class="sticky-footer-section px-5" align="center">
	<div class="py-3"><span th:text="#{feedback.wantToShare}"/> <span th:text="#{feedback.fill}"/> <a class="link-semidark" href="https://goo.gl/forms/jIARUsiHMU96qQWu1" target="_blank" th:text="#{feedback.answer}"></a>. <span th:text="#{feedback.anonymous}"/></div>
	<div align="center">
		<form th:action="@{/feedback}" method="post" accept-charset="utf-8">
			<textarea name="feedback" rows=10 th:placeholder="#{placeholder.feedback}" style="width:100%"></textarea>
			<div><input class="button button-white mt-3" type="submit" th:value="#{feedback.sendFeedback}"/></div>
		</form>
		<div class="my-3" align="center" th:if="${thanks}">
			<span th:text="#{${thanks}}"/>
		</div>
	</div>
</section>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>