<footer><small>
    Binary Table, 2018
	<a href="/about">{{#i18n}}meta.about{{/i18n}}</a>
	<a href="/terms">{{#i18n}}meta.terms{{/i18n}}</a>
	<a href="/feedback">{{#i18n}}meta.feedback{{/i18n}}</a>
	<a href="/contacts">{{#i18n}}meta.contacts{{/i18n}}</a>
</small></footer>