<footer class="my-3 mx-3" align="center"><small>
    Binary Table, 2018
	<span class="mx-2"><a class="link-for-dark-background" href="/terms">{{#i18n}}meta.terms{{/i18n}}</a></span>
	<span class="mx-2"><a class="link-for-dark-background" href="/feedback">{{#i18n}}meta.feedback{{/i18n}}</a></span>
	<span class="mx-2"><a class="link-for-dark-background" href="/contacts">{{#i18n}}meta.contacts{{/i18n}}</a></span>
</small></footer>