<footer>
    Binary Table, 2018
	<a href="https://vk.com">VK</a>
	<a href="https://facebook.com">FB</a>
	<a href="/about">About</a>
	<a href="/terms">Terms</a>
	<a href="/feedback">Feedback</a>
</footer>