﻿<footer>
    Binary Table, 2018
	<a href="https://vk.com">VK</a>
	<a href="https://facebook.com">FB</a>
	<a href="/about">{{#i18n}}meta.about{{/i18n}}</a>
	<a href="/terms">{{#i18n}}meta.terms{{/i18n}}</a>
	<a href="/feedback">{{#i18n}}meta.feedback{{/i18n}}</a>
	<a href="/contact">{{#i18n}}meta.contact{{/i18n}}</a>
</footer>