<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>BiT | {{#i18n}}login.forgotPassword{{/i18n}}</title>
</head>
<body class="sticky-footer-body">
{{> scripts}}
{{> navbar}}
<section class="container sticky-footer-section">
    <p>{{#i18n}}updatePass.followSteps{{/i18n}}</p>
    {{#i18n}}updatePass.firstStep{{/i18n}}</p>
    <div style="width: 40%">
        <form action="/forgotpassword" method="post">
            <div class="my-3">
                <input type="text" name="email" placeholder="{{#i18n}}placeholder.email{{/i18n}}">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            </div>
            <div>
                <input class="button button-white my-3" type="submit" value="{{#i18n}}login.updatePassword{{/i18n}}">
            </div>
        </form>
    </div>
    <p>{{#i18n}}updatePass.secondStep{{/i18n}}</p>
    <p>{{#i18n}}updatePass.thirdStep{{/i18n}}</p>
    <p>{{#i18n}}updatePass.fourthStep{{/i18n}}</p>
    <p>{{#i18n}}updatePass.fifthStep1{{/i18n}} <a class="link-semidark" href="/login">{{#i18n}}updatePass.fifthStep2{{/i18n}}</a> {{#i18n}}updatePass.fifthStep3{{/i18n}} <a class="link-semidark" href="/contacts">{{#i18n}}updatePass.fifthStep4{{/i18n}}</a>.</p>
</section>
{{> footer}}
</body>
</html>