<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>BiT | Forgot password</title>
</head>
<body>
{{> navbar}}
<p>To set new password, follow simple steps:</p>
1. Write your email there:</p>
<form action="/forgotpassword" method="post"/>
    <input type="text" name="email" placeholder="{{#i18n}}placeholder.email{{/i18n}}"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="{{#i18n}}login.updatePassword{{/i18n}}"/>
</form>
<p>2. Check your inbox and open mail "Update password" from binary.tbl@gmail.com.</p>
<p>What should I do if there are no mail? *link to FAQ*</p>
<p>3. Click to link in the body of letter.</p>
<p>4. Write new password.</p>
<p>5. If updating is successful, you can <a href="/login">log in</a> with new password. Else try again or <a href="/contacts">contact us</a>.</p>
{{> footer}}
</body>
</html>