<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head th:replace="fragments/meta :: meta(~{::title})">
	<title th:text="#{login.forgotPassword}"></title>
</head>
<body class="sticky-footer-body">
<th:block th:replace="fragments/navbar :: navbar"/>
<section class="sticky-footer-section" align="center">
    <p th:text="#{updatePass.followSteps}"></p>
    <p th:text="#{updatePass.firstStep}"></p>
    <div align="center">
        <form th:action="@{/forgotpassword}" method="post">
            <div class="my-3" align="center" th:if="${error}">
                <span class="error" th:text="#{${error}}"/>
            </div>
            <div class="my-3">
                <input class="w50 form-control" type="text" name="email" th:placeholder="#{placeholder.email}">
            </div>
            <div>
                <input class="button button-white my-3" type="submit" th:value="#{login.updatePassword}">
            </div>
        </form>
    </div>
    <p th:text="#{updatePass.secondStep}"></p>
    <p th:text="#{updatePass.thirdStep}"></p>
    <p th:text="#{updatePass.fourthStep}"></p>
    <p><span th:text="#{updatePass.fifthStep1}"/>  <a class="link-semidark" th:href="@{/login}" href="/login" th:text="#{updatePass.fifthStep2}"></a> <span th:text="#{updatePass.fifthStep3}"/> <a class="link-semidark" th:href="@{/contacts}" href="/contacts" th:text="#{updatePass.fifthStep4}"></a>.</p>
</section>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>