<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>BiT | {{#i18n}}goal.goals{{/i18n}}</title>
</head>
<body class="container">
{{> scripts}}
{{> usernavbar}}
<div>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Goal</th>
                <th scope="col">Steps</th>
                <th scope="col">Note</th>
            </tr>
        </thead>
        <tbody>
        {{#goals}}
        <tr>
            <td><a href="goal?id={{id}}">{{goalName}}</a></td>
            <td>{{doneSteps}}/{{allSteps}}</td>
            <td>{{note}}</td>
        </tr>
        {{/goals}}
        {{^goals}}
        <tr>
            <td>{{#i18n}}goal.noGoalsYet{{/i18n}}</td>
            <td></td>
            <td></td>
        </tr>
        {{/goals}}
        </tbody>
    </table>

    <!--
    {{#goals}}
        <div>
            <a href="goal?id={{id}}">{{goalName}}&nbsp;{{doneSteps}}/{{allSteps}}&nbsp;{{note}}</a>
        </div>
    {{/goals}} -->
</div>
</body>
</html>