<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>BiT | {{#i18n}}goal.goals{{/i18n}}</title>
</head>
<body>
    <header>
        <div><strong><a href="/">BiT</a></strong></div>
        <div>{{#user}}
            {{#i18n}}goal.greeting{{/i18n}},&nbsp;{{name}}!
            {{/user}}
            &nbsp;&nbsp;&nbsp;
            {{#i18n}}goal.countOfGoals{{/i18n}}{{countOfGoals}}
            &nbsp;&nbsp;&nbsp;
            <form action="/addgoal" method="get">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <div><input type="submit" value="{{#i18n}}goal.addGoal{{/i18n}}"/></div>
            </form>
            &nbsp;&nbsp;&nbsp;
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <input type="submit" value="{{#i18n}}meta.logout{{/i18n}}"/>
            </form>
        </div>
    </header>

    <br>
    <div>
        {{#goals}}
            <div>
                <a href="goal?id={{id}}">{{goalName}}&nbsp;{{doneSteps}}/{{allSteps}}&nbsp;{{note}}</a>
            </div>
        {{/goals}}

        {{^goals}}
        {{#i18n}}goal.noGoalsYet{{/i18n}}
        {{/goals}}
    </div>

</body>
</html>