<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head th:replace="fragments/meta :: meta(~{::title})">
    <title th:text="#{goal.goals}"/></title>
</head>
<body>
<th:block th:replace="fragments/usernavbar :: usernavbar"/>
<section class="section-right">
    <div th:each="goal : ${goals}">
        <a class="link-white" th:href="@{goal(id=${goal.id},hash=${goal.hash})}">
            <div class="goal-card">
                <div class="goal-card-name"><span th:utext="${goal.goalName}"/></div>
                <div class="goal-card-steps"><span th:text="${goal.doneSteps}"/>/<span th:text="${goal.allSteps}"/></div>
                <div class="goal-card-note"><span th:utext="${goal.note}"/></div>
            </div>
        </a>
    </div>

    <button class="button button-dark mt-5 ml-2" type="button" data-toggle="collapse" data-target="#finishedGoals" aria-controls="finishedGoals" aria-expanded="false" aria-label="Toggle navigation">
        <b th:text="#{goal.finishedGoals}"/>
    </button>
    <div id="finishedGoals" class="mt-3 collapse">
        <div th:each="goal : ${finishedGoals}">
            <a class="link-white" th:href="@{goal(id=${goal.id},hash=${goal.hash})}">
                <div class="goal-card">
                    <div class="goal-card-name"><span th:utext="${goal.goalName}"/></div>
                    <div class="goal-card-steps"><span th:text="${goal.doneSteps}"/>/<span th:text="${goal.allSteps}"/></div>
                    <div class="goal-card-note"><span th:utext="${goal.note}"/></div>
                </div>
            </a>
        </div>
    </div>
</section>
</body>
</html>