<!DOCTYPE html>
<head>
    <title>BiT | Goal</title>
    <meta charset=UTF-8"/>
    <meta name="_csrf" content="{{_csrf.token}}"/>
    <meta name="_csrf_header" content="X-CSRF-TOKEN"/>

    <link rel="stylesheet" type="text/css" href="/global.css">
    <script src="/jquery.min.js"></script>

      <style>
   .cross { cursor: pointer; }
      </style>

    </head>

  <body>
  	<button class="saveState"> <img src="/pictures/saveButtonImg.png" alt="Save"> </button>

     <table class="cross" onmousedown="return false" onselectstart="return false" cellspacing="0" border="0" cols="7" align="center" caption-side="bottom">
				  <!-- Кнопочки - поделиться  -->

        <caption align="top"> 
          <table bordercolor="white" cellspacing="0" border="1" cols="1" align="center">
        <tbody><tr>
          <td class="mytitle" width="auto" align="center"> Loading, please, wait... </td>
        </tr>
      </tbody></table>
         </caption>

      <caption align="bottom"> 
        <!--<script type="text/javascript">(function() {
            if (window.pluso) if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) 
            { window.ifpluso = 1;
             var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
             s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
             s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
             var h=d[g]('body')[0];
             h.appendChild(s);
            }})();</script>
        <div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,counter,theme=04" data-services="vkontakte,facebook,twitter,google"></div> -->
      </caption> 
      <!-- Конец блока кнопок -->
      <script src="/goal-logic.js"></script>
      
    </table>
   
    <!-- <script type="text/javascript" charset="UTF-8" async="" src="https://share.pluso.ru/pluso-like.js"></script> -->

  </body>
</html>