<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    <title>Goals</title>
</head>
<body>
<h1>Goals</h1>
<div>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</div>

<div>
<form action="/goals" method="post">
    <div><label>Goal name <input type="text" name="name"/></label></div>
    <div><label>Steps <input type="text" name="steps"/></label></div>
    <div><label>Note <input type="text" name="note"/></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Add goal"/></div>
</form>
</div>

<div>
{{#goals}}
    <div>{{goalName}}&nbsp;{{doneSteps}}/{{allSteps}}</div>
{{/goals}}

    {{^goals}}
        There are no goals yet!
    {{/goals}}
</div>

</body>