<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-124258512-2');</script>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="X-CSRF-TOKEN">
    <meta property="og:image" content=""/>
    <title>BiT | Goal</title>
    <meta name="description" content="Binary Table - minimalistic progress tracker & counter">
    <meta name="keywords" content="minimalistic, progress, tracker, counter, binary, table, минималистичный, прогресс, трекер, бинарная, таблица, счетчик">
    <link href="/favicon.png" th:href="@{/favicon.png}" rel="shortcut icon" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    <!-- Порядок важен!! -->
    <link rel="stylesheet" href="/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
    <link rel="stylesheet" href="/css/goal.css" th:href="@{/css/goal.css}">
    <script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
    <script src="/js/html2canvas.min.js" th:src="@{/js/html2canvas.min.js}"></script>
    <script src="https://vk.com/js/api/openapi.js" type="text/javascript"></script>
    <style>.cross { cursor: pointer; }</style>
</head>

<body>
  <script type="text/javascript">VK.init({apiId:6700902});</script>
  <div id="vk_api_transport"></div>
  <span id="openNoteBtn"><img src = "/images/note-image.png" alt="[Note]"></span>
  <span id="stepsCounter">
    (<span id="stepsCurrent"></span>/<span id="stepsOutOf" contenteditable="true"></span>)
  </span>
  <div id="deleteConfirmation" title="Are you sure to DELETE? 0->1 " style="display: none">
    <p align="center">
      <button class="confNumber"> 0 </button>
      <button class="confNumber"> 0 </button>
    </p>
    <p align="center">
      <button class="confNumber"> 0 </button>
      <button class="confNumber"> 0 </button>
    </p>
  </div>

  <div id="tools">
    <a href="/goals" style="text-decoration: none">
      <!-- <button class="arrowBack ui-borders">
        < - -
      </button> -->
        <img src="/images/leftArrowSmaller.png" alt="Back">
    </a>
    <button class="saveState ui-noborders">
      <img src="/images/saveButtonImgSmaller.png" alt="Save">
    </button>

    <button class="deleteGoal ui-noborders">
      <img src="/images/deleteButtonImgSmaller.png" alt="Delete">
    </button>

  </div>

  <p> </p>

  <div id="content">
    <table class="cross" cellspacing="0" border="0" cols="7" align="center">
      <caption style="caption-side: top;">
        <table id="binTable" bordercolor="white" cellspacing="0" border="1" cols="1" align="center">
          <tr>
            <td class="mytitle">
              <span id="titleString" contenteditable="true">
                Loading, please, wait...
              </span>
            </td>
          </tr>
        </table>
        <p id="note" contenteditable="true"> </p>
      </caption>
      <tbody id="tableBodyId"> </tbody>
      <caption align="bottom">
        <p id="endGoal" th:text="#{goal.reached}"/>
      </caption>

    </table>
  </div>

  <div class="additional">
    <button class="screenShotter ui-borders"> S H A R E </button>
    <button id="vkshare" class="ui-noborders"> <img src="/images/vk-icon.png"> </button>
  </div>

  <button class="additional collapsible ui-borders" th:text="#{goal.collaborators}">Collaborators</button>
  <ul class="contentCollapse" id="collabs">
    <li> Some emails here! </li>
  </ul>

  <!-- Конец блока кнопок -->
  <script src="/js/goal-logic.js"></script>
</body>
</html>