<!DOCTYPE html>
<html>
<head>
	<title>BiT | Goal</title>
</head>
<body>
Goal
	<script type="application/javascript" src="/jquery-3.3.1.min.js"></script>
	<script id="script" type="application/javascript" src="/goal-request.js"></script>
</body>

</html>