<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>BiT | {{#i18n}}goal.goals{{/i18n}}</title>
</head>
<body>
{{> scripts}}
{{> usernavbar}}
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><b>Goal</b></th>
                <th scope="col"><b>Steps</b></th>
                <th scope="col"><b>Note</b></th>
            </tr>
        </thead>
        <tbody>
        {{#goals}}
        <tr>
            <td><a class="link-semidark" href="goal?id={{id}}">{{goalName}}</a></td>
            <td>{{doneSteps}}/{{allSteps}}</td>
            <td>{{note}}</td>
        </tr>
        {{/goals}}
        {{^goals}}
        <tr>
            <td>{{#i18n}}goal.noGoalsYet{{/i18n}}</td>
            <td></td>
            <td></td>
        </tr>
        {{/goals}}
        </tbody>
    </table>
</div>
</body>
</html>