<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>Binary Table</title>
</head>
<body class="bg-dark text-white">
{{> scripts}}
{{> navbar}}
<section class="container">
    0. Create the goal<br>
    1. Set count of steps<br>
    10. Change 0 to 1<br>
    11. When all 0 become 1, you'll reach the goal!<br>
</section>
    {{> footer}}
</body>
</html>