<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    <title>Binary table</title>
</head>
<body>
<header>
    <div> <strong><a href="/">BiT</a></strong></div>

    <a href="/terms">Terms</a>
    <a href="/about">About</a>
    <a href="/registration">Sign In</a>
    <a href="/goals">Log in</a>
</header>
<section>
    0. From the bonny bells of heather<br>
    1. They brewed a drink long-syne,<br>
    10. Was sweeter far than honey,<br>
    11. Was stronger far than wine.<br>
</section>
<footer>
    Binary Table, 2018
</footer>
</body>