<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Binary Table</title>
</head>
<body>
    {{> navbar}}
<section>
    0. From the bonny bells of heather<br>
    1. They brewed a drink long-syne,<br>
    10. Was sweeter far than honey,<br>
    11. Was stronger far than wine.<br>
</section>
    {{> footer}}
</body>