<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>Binary Table</title>
    <meta name="description" content="Binary Table - minimalistic progress tracker & counter">
    <meta name="keywords" content="minimalistic, progress, tracker, counter, binary, table, минималистичный, прогресс, трекер, бинарная, таблица, счетчик">
</head>
<body class="sticky-footer-body">
{{> scripts}}
{{> navbar}}
<section class="mt-5 pt-5 sticky-footer-section" align="center">
    <span class="index-promo">
        0. Create the goal<br>
        1. Set count of steps<br>
        10. Change 0 to 1<br>
        11. When all 0 become 1, you'll reach the goal!<br></span>
</section>
{{> footer}}
</body>
</html>