<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head th:replace="fragments/meta :: meta(~{::title})">
<title>Binary Table</title>
</head>
<body class="sticky-footer-body">
<th:block th:replace="fragments/navbar :: navbar"/>
<section class="mt-5 pt-5 sticky-footer-section" align="center">
    <span class="index-promo">
        0. Create the goal<br>
        1. Set count of steps<br>
        10. Change 0 to 1<br>
        11. When all 0 become 1, you'll reach the goal!<br></span>
</section>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>