<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>BiT | {{#i18n}}meta.login{{/i18n}}</title>
    <meta name="description" content="Log in Binary Table - minimalistic progress tracker & counter">
    <meta name="keywords" content="login, log in, minimalistic, progress, tracker, counter, binary, table, войти, минималистичный, прогресс, трекер, бинарная, таблица, счетчик">
</head>
<body>
<div class="mx-auto border my-5 py-3 px-3 form">
    <div align="center"><a class="navbar-brand link-for-light-background" href="/">Binary Table</a></div>
    <form action="/login" method="post">
        {{#error}}{{error}}{{/error}}
        <div class="form-group">
            <label for="email">{{#i18n}}fields.email{{/i18n}}</label>
            <input class="form-control" id="email" type="text" name="username" placeholder="{{#i18n}}placeholder.email{{/i18n}}">
        </div>
        <div class="form-group">
            <label for="password">{{#i18n}}fields.password{{/i18n}}</label>
            <input class="form-control" id="password" type="password" name="password" placeholder="{{#i18n}}placeholder.password{{/i18n}}">
        </div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input class="btn btn-primary mt-1 mb-3" type="submit" value="{{#i18n}}meta.login{{/i18n}}">
    </form>
    <div align="center">
        <span class="mr-5 form"><a class="link-for-light-background" href="/forgotpassword">{{#i18n}}login.forgotPassword{{/i18n}}</a></span>
        <span class="ml-5 form"><a class="link-for-light-background" href="/registration">{{#i18n}}login.wantToSignUp{{/i18n}}</a></span>
    </div>
</div>
</body>
</html>