<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    <title>Binary table</title>
</head>
<body>
<div>
    <form action="/login" method="post">
        <div><label>Email <input type="text" name="username"/></label></div>
        <div><label>Password <input type="password" name="password"/></label></div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <div><input type="submit" value="Log in"/></div>
    </form>
    <a href="/registration">I want to sign in!</a>
</div>
<footer>
    Binary Table, 2018 <a href="/about">About</a>
</footer>
</body>
</html>