<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head th:replace="fragments/meta :: meta(~{::title})">
    <title th:text="#{meta.login}"/></title>
</head>
<body class="sticky-footer-body">
<section class="sticky-footer-section">
    <div class="d-none d-sm-none d-md-block mx-auto border my-5 py-3 px-3 form">
        <div align="center"><a class="navbar-brand link-dark logo" th:href="@{/}" href="/">Binary Table &beta;</a></div>
        <form name="loginForm" th:action="@{/login}" method="post" accept-charset="utf-8">
        <div class="my-3" align="center" th:if="${param.error}">
            <span class="error" th:text="#{error.invalidEmailOrPassword}"/>
        </div>
            <div class="form-group">
                <label for="email" th:text="#{fields.emailOrName}"/></label>
                <input class="form-control" id="email" type="text" name="username" th:placeholder="#{placeholder.email}">
            </div>
            <div class="form-group">
                <label for="password" th:text="#{fields.password}"/></label>
                <input class="form-control" id="password" type="password" name="password" th:placeholder="#{placeholder.password}">
            </div>
            <input class="button button-dark mt-1 mb-3" type="submit" th:value="#{meta.login}">
        </form>
        <th:block th:replace="fragments/oauth :: oauth"/>
        <div align="center"><span class="form"><a class="link-dark" th:href="@{/forgotpassword}" th:text="#{login.forgotPassword}"></a></span></div>
        <div align="center"><span class="form"><a class="link-dark" th:href="@{/signup}" th:text="#{login.wantToSignUp}"></a></span></div>
    </div>
    <div class="d-md-none d-lg-none d-xl-none d-block mx-auto border py-3 px-3 form-compact">
        <div align="center"><a class="navbar-brand link-dark logo" href="@{/}">Binary Table &beta;</a></div>
        <form name="loginForm" th:action="@{/login}" method="post" accept-charset="utf-8">
            <div class="my-3" align="center" th:if="${param.error}">
                <span class="error" th:text="#{error.invalidEmailOrPassword}"/>
            </div>
            <div class="form-group">
                <label for="email-compact" th:text="#{fields.emailOrName}"/></label>
                <input class="form-control" id="email-compact" type="text" name="username" th:placeholder="#{placeholder.email}">
            </div>
            <div class="form-group">
                <label for="password-compact" th:text="#{fields.password}"/></label>
                <input class="form-control" id="password-compact" type="password" name="password" th:placeholder="#{placeholder.password}">
            </div>
            <input class="button button-dark mt-1 mb-3" type="submit" th:value="#{meta.login}">
        </form>
        <th:block th:replace="fragments/oauth :: oauth"/>
        <div align="center"><span class="form"><a class="link-dark" th:href="@{/forgotpassword}" th:text="#{login.forgotPassword}"></a></span></div>
        <div align="center"><span class="form"><a class="link-dark" th:href="@{/signup}" th:text="#{login.wantToSignUp}"></a></span></div>
    </div>
</section>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>