﻿<nav>
    <strong><a href="/">BiT</a></strong>

    <a href="?lang=en">EN</a>
    <a href="?lang=ru">RU</a>

    <a href="/about">{{#i18n}}meta.about{{/i18n}}</a>
    <a href="/registration">{{#i18n}}meta.signup{{/i18n}}</a>
    <a href="/goals">{{#i18n}}meta.login{{/i18n}}</a>
</nav>