<nav>
    <div> <strong><a href="/">BiT</a></strong></div>
    <a href="/terms">Terms</a>
    <a href="/about">About</a>
    <a href="/registration">Sign up</a>
    <a href="/goals">Sign in</a>
</nav>