<nav>
    <strong><a href="/">BiT</a></strong>

    <a href="/about">{{#i18n}}navbar.about{{/i18n}}</a>
    <a href="/registration">{{#i18n}}navbar.signup{{/i18n}}</a>
    <a href="/goals">{{#i18n}}navbar.login{{/i18n}}</a>
</nav>