<nav class="navbar navbar-expand-md">
    <a class="navbar-brand link-for-dark-background" href="/">Binary Table</a>
    <div class="navbar-nav mr-auto" style="float: left; width: 70%">
        <a class="nav-item nav-link link-for-dark-background" href="?lang=en">En</a>
        <a class="nav-item nav-link link-for-dark-background" href="?lang=ru">Ru</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float: right; width: 30%;" align="right">
        <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link link-for-dark-background mr-2" href="/about">{{#i18n}}meta.about{{/i18n}}</a>
                <a class="nav-item btn btn-outline-primary my-3 my-sm-0 ml-2" href="/registration">{{#i18n}}meta.signup{{/i18n}}</a>
                <a class="nav-item btn btn-primary my-2 my-sm-0 ml-3" href="/goals">{{#i18n}}meta.login{{/i18n}}</a>
        </div>
    </div>
</nav>