<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>Binary Table | Profile</title>
    <meta name="description" content="Binary Table - minimalistic progress tracker & counter">
    <meta name="keywords" content="minimalistic, progress, tracker, counter, binary, table, минималистичный, прогресс, трекер, бинарная, таблица, счетчик">
</head>
<body>
{{> usernavbar}}
<div class="container mt-3">
<table>
    <tbody>
        <tr>
            <th>{{#i18n}}fields.name{{/i18n}}</th>
            <th>{{#name}}{{name}}{{/name}}</th>
        </tr>
        <tr>
            <th>{{#i18n}}fields.email{{/i18n}}</th>
            <th>{{#email}}{{email}}{{/email}}</th>
        </tr>
        <tr>
            <th>{{#i18n}}fields.registrationDate{{/i18n}}</th>
            <th>{{#regDate}}{{regDate}}{{/regDate}}</th>
        </tr>
    </tbody>
</table>
</div>
<div class="container mt-5">
    <h3>{{#i18n}}login.updatePassword{{/i18n}}</h3>
    <div>
        {{#passwordStatus}}{{#i18n}}{{passwordStatus}}{{/i18n}}{{/passwordStatus}}
    </div>
    <form action="/updatepasswordprofile" method="post" style="width: 50%">
        <div class="form-group">
            <label for="password">{{#i18n}}fields.oldPassword{{/i18n}}</label>
            <input class="form-control" id="password" type="password" name="oldPassword" placeholder="{{#i18n}}placeholder.oldPassword{{/i18n}}">
        </div>
        <div class="form-group">
            <label for="newPassword">{{#i18n}}fields.newPassword{{/i18n}}</label>
            <input class="form-control" id="newPassword" type="password" name="newPassword" placeholder="{{#i18n}}placeholder.newPassword{{/i18n}}">
        </div>
        <div class="form-group">
            <label for="repeatPassword">{{#i18n}}fields.repeatPassword{{/i18n}}</label>
            <input class="form-control" id="repeatPassword" type="password" name="repeatPassword" placeholder="{{#i18n}}placeholder.newPassword{{/i18n}}">
        </div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input class="btn btn-primary" type="submit" value="{{#i18n}}login.updatePassword{{/i18n}}">
    </form>
</div>
<div class="container mt-3">
    <h3>{{#i18n}}login.updateEmail{{/i18n}}</h3>
    <div>
        {{#emailStatus}}{{#i18n}}{{emailStatus}}{{/i18n}}{{/emailStatus}}
    </div>
    <form action="/updateemailprofile" method="post" style="width: 50%">
        <div class="form-group">
            <label for="email">{{#i18n}}fields.oldEmail{{/i18n}}</label>
            <input class="form-control" id="email" type="text" name="oldEmail" placeholder="{{#i18n}}placeholder.oldEmail{{/i18n}}">
        </div>
        <div class="form-group">
            <label for="newEmail">{{#i18n}}fields.newEmail{{/i18n}}</label>
            <input class="form-control" id="newEmail" type="text" name="newEmail" placeholder="{{#i18n}}placeholder.newEmail{{/i18n}}">
        </div>
        <div class="form-group">
            <label for="repeatEmail">{{#i18n}}fields.repeatEmail{{/i18n}}</label>
            <input class="form-control" id="repeatEmail" type="text" name="repeatEmail" placeholder="{{#i18n}}placeholder.newEmail{{/i18n}}">
        </div>
        <div class="form-group">
            <label for="passwordEmail">{{#i18n}}fields.password{{/i18n}}</label>
            <input class="form-control" id="passwordEmail" type="password" name="password" placeholder="{{#i18n}}placeholder.password{{/i18n}}">
        </div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input class="btn btn-primary" type="submit" value="{{#i18n}}login.updateEmail{{/i18n}}">
    </form>
</div>
<div class="container">
    <a class="btn btn-primary mt-5" href="/goals">{{#i18n}}meta.back{{/i18n}}</a>
</div>
</body>