<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>BiT | {{#i18n}}meta.terms{{/i18n}}</title>
</head>
<body>
    {{> navbar}}
<section>
    {{#i18n}}meta.terms{{/i18n}}
</section>
    {{> footer}}
</body>
</html>