<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    <title>BiT | Terms</title>
</head>
<body>
<header>
    {{> navbar}}
</header>
<section>
    Terms
</section>
{{> footer}}
</body>
</html>