<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head th:replace="fragments/meta :: meta(~{::title})">
    <title th:text="#{meta.terms}"/></title>
</head>
<body class="sticky-footer-body">
<th:block th:replace="fragments/navbar :: navbar"/>
<section class="sticky-footer-section">
    <div class="w20 fr pr-4" id="contents">
        <a class="link-semidark" href="#privacyPolicy"><strong th:text="#{privacyPolicy.header}"/></a>
        <ul>
            <li><a class="link-semidark" href="#definitions" th:text="#{privacyPolicy.definitions}"/></li>
            <li><a class="link-semidark" href="#infoCollect" th:text="#{privacyPolicy.infoCollect}"/></li>
            <li><a class="link-semidark" href="#useOfData" th:text="#{privacyPolicy.useOfData}"/></li>
            <li><a class="link-semidark" href="#transferOfData" th:text="#{privacyPolicy.transferOfData}"/></li>
            <li><a class="link-semidark" href="#disclosureOfData" th:text="#{privacyPolicy.disclosureOfData}"/></li>
            <li><a class="link-semidark" href="#securityOfData" th:text="#{privacyPolicy.securityOfData}"/></li>
            <li><a class="link-semidark" href="#serviceProviders" th:text="#{privacyPolicy.serviceProviders}"/></li>
            <li><a class="link-semidark" href="#linksToOtherSites" th:text="#{privacyPolicy.linksToOtherSites}"/></li>
            <li><a class="link-semidark" href="#childrenPrivacy" th:text="#{privacyPolicy.childrenPrivacy}"/></li>
            <li><a class="link-semidark" href="#changesPrivacyPolicy" th:text="#{privacyPolicy.changesPrivacyPolicy}"/></li>
            <li><a class="link-semidark" href="#contactUs" th:text="#{privacyPolicy.contactUs}"/></li>
        </ul>
        <a class="link-semidark" href="#termsAndConditions"><strong th:text="#{terms.header}"></strong></a>
        <ul>
            <li><a class="link-semidark" href="#accountsTerms" th:text="#{terms.accountsTerms}"/></li>
            <li><a class="link-semidark" href="#linksToOtherSitesTerms" th:text="#{terms.linksToOtherSitesTerms}"/></li>
            <li><a class="link-semidark" href="#terminationTerms" th:text="#{terms.terminationTerms}"/></li>
            <li><a class="link-semidark" href="#governingLawTerms" th:text="#{terms.governingLawTerms}"/></li>
            <li><a class="link-semidark" href="#changesTerms" th:text="#{terms.changesTerms}"/></li>
            <li><a class="link-semidark" href="#contactUsTerms" th:text="#{terms.contactUsTerms}"/></li>
        </ul>
    </div>
    <div class="w80 fl pl-5">
        <h1 id="privacyPolicy" th:text="#{privacyPolicy.header}"/>
        <p th:utext="#{privacyPolicy.text}"/>

        <h1 id="termsAndConditions" th:text="#{terms.header}"/></h1>
        <p th:utext="#{terms.text}"/>
    </div>
</section>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>