<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>BiT | {{#i18n}}login.updatePassword{{/i18n}}</title>
</head>
<body class="bg-dark text-white sticky-footer-body">
{{> navbar}}
<section class="bg-dark text-white sticky-footer-body">
{{#status}}{{#i18n}}{{status}}{{/i18n}}{{/status}}
<p>Set new password:</p>
<form action="/updatepassword" method="post">
    {{#i18n}}fields.newPassword{{/i18n}}
	<input type="password" name="password" placeholder="{{#i18n}}placeholder.newPassword{{/i18n}}"/><br>
    {{#i18n}}fields.repeatPassword{{/i18n}}
    <input type="password" name="repeatPassword" placeholder="{{#i18n}}placeholder.newPassword{{/i18n}}"><br>
    {{#i18n}}fields.email{{/i18n}}
	<input type="text" name="email" placeholder="{{#i18n}}placeholder.email{{/i18n}}" value="{{#emailVal}}{{emailVal}}{{/emailVal}}"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="hidden" name="updatePassword" value="{{#updatePassword}}{{updatePassword}}{{/updatePassword}}"/>
    <input type="submit" value="{{#i18n}}login.updatePassword{{/i18n}}"/>
</form>
If updating is successful, you can <a href="/login">log in</a> with new password. Else try again or <a href="/contacts">contact us</a>.</p>
</section>
{{> footer}}
</body>
</html>