<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head th:replace="fragments/meta :: meta(~{::title})">
    <title th:text="#{meta.updatePassword}"/></title>
</head>
<body class="sticky-footer-body">
<th:block th:replace="fragments/navbar :: navbar"/>
<section class="container sticky-footer-body" align="center">
    <div th:if="${status}}">
        <span th:text="#{${status}}"/>
    </div>
<p th:text="#{updatePass.setNewPassword}"></p>
    <div style="width: 50%" align="center">
    <form th:action="@{/updatepassword}" method="post">
        <div class="form-group">
            <label for="newPassword" th:text="#{fields.newPassword}"></label>
            <input id="newPassword" type="password" name="password" th:placeholder="#{placeholder.newPassword}">
        </div>
        <div class="form-group">
            <label for="repeatPassword" th:text="#{fields.repeatPassword}"></label>
            <input id="repeatPassword" type="password" name="repeatPassword" th:placeholder="#{placeholder.newPassword}">
        </div>
        <div class="form-group">
            <label for="email" th:text="#{fields.email}"></label>
            <input id="email" type="text" name="email" th:placeholder="#{placeholder.email}">
        </div>
        <input type="hidden" name="updatePassword" value="${updatePassword}">
        <input class="button button-dark" type="submit" th:value="#{login.updatePassword}"/>
    </form>
    </div>
    <p><span th:text="#{updatePass.fifthStep1}"/> <a class="link-semidark" href="@{/login}" th:text="#{updatePass.fifthStep2}"></a> <span th:text="#{updatePass.fifthStep3}"/> <a class="link-semidark" href="/contacts" th:text="#{updatePass.fifthStep4}"></a>.</p>
</section>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>