<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>BiT | Update password</title>
</head>
<body>
{{> navbar}}
{{#status}}
    {{status}}
{{/status}}
<p>Set new password:</p>
<form action="/updatepassword" method="post">
    {{#i18n}}fields.newPassword{{/i18n}}<input type="password" name="password" placeholder="{{#i18n}}placeholder.newPassword{{/i18n}}"/><br>
    {{#i18n}}fields.email{{/i18n}} <input type="text" name="email" placeholder="{{#i18n}}placeholder.email{{/i18n}}"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="hidden" name="updatePassword" value="{{#updatePassword}}{{updatePassword}}{{/updatePassword}}"/>
    <input type="submit" value="{{#i18n}}login.updatePassword{{/i18n}}"/>
</form>
If updating is successful, you can <a href="/login">log in</a> with new password. Else try again or <a href="/contacts">contact us</a>.</p>
{{> footer}}
</body>
</html>