<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml">
<head>
    {{> meta}}
    <title>BiT | {{#i18n}}login.updatePassword{{/i18n}}</title>
</head>
<body class="sticky-footer-body">
{{> navbar}}
<section class="container sticky-footer-body">
    <div>
        {{#status}}{{#i18n}}{{status}}{{/i18n}}{{/status}}
    </div>
<p>{{#i18n}}updatePass.setNewPassword{{/i18n}}</p>
    <div style="width: 50%">
    <form action="/updatepassword" method="post">
        <div class="form-group">
            <label for="newPassword">{{#i18n}}fields.newPassword{{/i18n}}</label>
            <input id="newPassword" type="password" name="password" placeholder="{{#i18n}}placeholder.newPassword{{/i18n}}">
        </div>
        <div class="form-group">
            <label for="repeatPassword">{{#i18n}}fields.repeatPassword{{/i18n}}</label>
            <input id="repeatPassword" type="password" name="repeatPassword" placeholder="{{#i18n}}placeholder.newPassword{{/i18n}}">
        </div>
        <div class="form-group">
            <label for="email">{{#i18n}}fields.email{{/i18n}}</label>
            <input id="email" type="text" name="email" placeholder="{{#i18n}}placeholder.email{{/i18n}}" value="{{#emailVal}}{{emailVal}}{{/emailVal}}">
        </div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="hidden" name="updatePassword" value="{{#updatePassword}}{{updatePassword}}{{/updatePassword}}">
        <input class="button button-dark" type="submit" value="{{#i18n}}login.updatePassword{{/i18n}}"/>
    </form>
    </div>
    <p>{{#i18n}}updatePass.fifthStep1{{/i18n}} <a class="link-semidark" href="/login">{{#i18n}}updatePass.fifthStep2{{/i18n}}</a> {{#i18n}}updatePass.fifthStep3{{/i18n}} <a class="link-semidark" href="/contacts">{{#i18n}}updatePass.fifthStep4{{/i18n}}</a>.</p>
</section>
{{> footer}}
</body>
</html>